html,body {
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    border: 3px dotted red;
}

.square {
    width: 100%;
    max-width: 16px;
    min-height: 16px;
    background-color: green;
}