html,
body {
  box-sizing: border-box;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 41.5rem;
  height: 41.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
}

.square {
  width: 10rem;
  height: 10rem;
  background-color: green;
}

.red {
  background-color: red;
}
